In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Fake.csv to Fake.csv

In [ ]:
import io

In [ ]:
fake = pd.read_csv(io.BytesIO(uploaded['Fake.csv']))

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving True.csv to True (1).csv

In [ ]:
genuine = pd.read_csv(io.BytesIO(uploaded['True.csv']))

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
 4   target   23481 non-null  int64
dtypes: int64(1), object(4)
memory usage: 917.4+ KB

None

In [ ]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   target   21417 non-null  int64
dtypes: int64(1), object(4)
memory usage: 836.7+ KB

None

In [ ]:
display(genuine.head(6))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1

[6 rows x 5 columns]

In [ ]:
display(fake.subject)

0               News
1               News
2               News
3               News
4               News
            ...
23476    Middle-east
23477    Middle-east
23478    Middle-east
23479    Middle-east
23480    Middle-east
Name: subject, Length: 23481, dtype: object

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
display(genuine.head(6))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1

[6 rows x 5 columns]

In [ ]:
display(fake.head(6))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0

[6 rows x 5 columns]

In [ ]:
data=pd.concat([fake,genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text'] = data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords=False)

In [ ]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [ ]:
data['text'] = data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committ, chairman, devin, nun...       0
2  [friday, was, reveal, that, former, milwauk, s...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, deci, that, der...       0
8  [mani, peopl, have, rai, the, alarm, regard, t...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
from nltk.corpus import stopwords

In [ ]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [ ]:
data['text'] = data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committ, chairman, devin, nun...       0
2  [friday, was, reveal, that, former, milwauk, s...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, deci, that, der...       0
8  [mani, peopl, have, rai, the, alarm, regard, t...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text'] = data['text'].apply(' '.join)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data['text'],data['target'])
display(x_train.head())
print('\n')
display(y_train.head())

33364    washington reuter presid barack obama bid save...
42487    jerusalem reuter isra prime minist benjamin ne...
24098    washington reuter senat susan collin back the ...
22853    patrick henningsen 21st centuri wiredespit rep...
26508    washington reuter twenty-two million american ...
Name: text, dtype: object

33364    1
42487    1
24098    1
22853    0
26508    1
Name: target, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [ ]:
print(tfidf_train)

  (0, 37883)	0.031169314162964566
  (0, 21855)	0.022333829986400974
  (0, 36458)	0.02900138829221498
  (0, 10805)	0.021133405720180902
  (0, 85454)	0.016819443323877064
  (0, 42190)	0.04790750564391957
  (0, 27048)	0.037127963019692005
  (0, 41481)	0.027293422128137033
  (0, 51141)	0.019650835084279183
  (0, 51486)	0.01741324598115284
  (0, 48232)	0.025180152870814276
  (0, 77623)	0.04832902403533907
  (0, 1578)	0.02938257087373635
  (0, 73287)	0.019703375275908208
  (0, 20069)	0.039197208249885485
  (0, 62202)	0.03417786021573114
  (0, 24344)	0.02564611210003977
  (0, 61169)	0.0365554761242311
  (0, 14227)	0.02835330717155696
  (0, 48574)	0.050853035289370976
  (0, 14431)	0.03679170581308204
  (0, 46086)	0.022568361632168892
  (0, 68923)	0.021246672843529917
  (0, 81975)	0.021315192544526785
  (0, 7625)	0.025940199900174075
  :	:
  (33672, 28942)	0.022936875130411538
  (33672, 67600)	0.03182719354164247
  (33672, 37685)	0.05845134577926607
  (33672, 36819)	0.014802377958090368
  (33672, 21384)	0.025673697043072832
  (33672, 7723)	0.02300398023544131
  (33672, 15569)	0.0467013208568561
  (33672, 80968)	0.013682911630742704
  (33672, 17043)	0.02562950577251836
  (33672, 55455)	0.019516119180140016
  (33672, 80770)	0.014882554970504176
  (33672, 80607)	0.01746246453467866
  (33672, 55299)	0.015036471616105752
  (33672, 70856)	0.049937303089767154
  (33672, 13313)	0.018593707013566628
  (33672, 89306)	0.0424114134605221
  (33672, 24387)	0.025903932481498165
  (33672, 77247)	0.01454151507947373
  (33672, 44497)	0.02887072928642408
  (33672, 18158)	0.07573206164096728
  (33672, 41939)	0.017912173164070462
  (33672, 33108)	0.011847448276396666
  (33672, 38810)	0.038782077026371646
  (33672, 65153)	0.01390960665064696
  (33672, 69282)	0.01462080648225726

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import  DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1= model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

98.73496659242763

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [ ]:
y_pred = model.predict(tfidf_test)

accscore= accuracy_score(y_test,y_pred)
print("accuracy", accscore*100)

accuracy 99.6881959910913